<br>
<br>
<br>
<br>
  <div class="col-lg-20">
   <div class="row">
   <% @alcohols.each do |elem| %>
    <div style="margin-right: 0;" class="card col-lg-4 mb-5">
     <img src="<%= elem.src %>" class="card-img-top">
      <div style="border: 0.10rem solid; border-color: teal;" class="card-body">
      <h7><%= elem.name %></h7>
      <br>
      <br>
      <h7><%= elem.description %></h7>
      <br>
      <br>
      <span style="color: teal;">£</span><h7><%= elem.price %></h7>
      </div>
    </div>
   <% end %>
   </div>
  </div>
<br>
<br>