<!DOCTYPE HTML5>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/hat.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/main.css">
    <title>The Mad Hatter's Bakery Shoppe</title>
  </head>
  <body>
    <header class="main-header">
      <div class="navbar-container">
        <div id="navbar">
          <div id="logo-image">
          <a href="/"><img src="/images/hat.jpg"></a>
           <div id="main-navigation">
            <ul id="main-navigation-ul">
                          <li><a href="/">HOME</a></li>
                          <li><a href="/menu">MENU</a></li>
                          <li><a href="/about">ABOUT</a></li>
                          <li><a>CONTACT US</a></li>
           </ul>
          </div>
         </div>
        </div>
      </div>
    </header>
    <div id="container">
    <%= yield %>
    </div>
    <footer>
    <div class="footer-container">
      <div class="col-md-6 mb-4">
          <p>Please sign up for our bakery catalog with your e-mail!</p>
          <form class="input-group" action="/" method="post">
            <input type="text" class="form-control form-control-sm" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-info" type="submit">Sign Up!</button>
            </div>
          </form>
          <a href="#"><img src="/images/facebook.png" width="30px"></a>
          <a href="#"><img src="/images/twitter.png" width="30px"></a>
          <a href="#"><img src="/images/instagram.png" width="30px"></a>
          <a href="#"><img src="/images/youtube.png" width="30px"></a>
        </div>
      </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://popper.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
