/* Body */

body {
    background-color: white;
    margin: 0 auto;
}
.main-container {
    display: block;
}

/* Header */

.main-header {
    display: block;
}
  
.navbar-container {
    display: block;
}
  
#navbar {
    display: block;
}
  
#logo-image {
    display: block;
}
  
#logo-image img {
    height: auto;
    width: 20%;
    padding-top: 40px;
    margin-left: 70px;
}
  
#main-navigation {
    list-style: none;
    text-align: right;
    margin: auto;
    padding-right: 52px;
    margin-top: -190px;  
}
  
#main-navigation-ul li {
    display: inline-block;
    font-family: "Burton's Dreams Pro";
    font-weight: bold;
    padding: 30px 10px;
    text-decoration: none;
    list-style-type: none;
}
  
#main-navigation-ul a {
    display: block;
    padding: 30px 10px;
    text-decoration: none;
    color: teal;
    font-size: 30px;
}
  
#main-navigation-ul a:hover {
    color: turquoise;
}

/* Main Content */

.main-headline {
    display: block;
}
  
.main-headline h1 {
    font-size: 50px;
    font-family: "Burton's Dreams Pro";
    color: purple;
    text-align: center;
    margin-top: 80px;
    padding-bottom: 30px;
}

.menu-items {
    display: block;
}

.menu-items h2 {
    font-size: 50px;
    font-family: "Burton's Dreams Pro";
    color: purple;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 40px;
}

.d-block w-100 img {
    height: auto;
    width: 20%;
}

.card {
    border: none;
    border-radius: none;
    margin-right: 36px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: none;
}

h5 {
    color: purple;
    text-align: center;
    font-family: "Burton's Dreams Pro";
    font-size: 24px;
}

h7 {
    color: teal;
    text-align: center;
    font-family: "Burton's Dreams Pro";
    font-size: 22px;
}

p {
    color: turquoise;
    font-family: "Burton's Dreams Pro";
    font-size: 24px;
    margin-left: 75px;
    margin-top: 20px;
}

footer {
    background-color: purple;
    padding: 30px 30px;
    margin-top: 50px;
}

.footer-container {
    display: block;
}

.input-group {
    margin-top: 25px;
    margin-left: 5px;
}

.icon-wrapper {
    display: inline-block;
    text-align: right;
    margin: 0 auto;
    list-style-type: none;
    position: absolute;
    right: -660px;
    top: 40px;

}

.icon-wrapper li {
    display: inline-block;
}

.icon-wrapper a {
    display: inline-block;
}

